@(cours: java.util.List[Cours])

<select name="cours" id="cours" class="selectpicker" data-style="btn-primary" data-width="100%" style="width: 100%">
@if(cours.isEmpty) {
    <option value="0">Aucun cours à cette date</option>
} else {
    <option value="-1">Selectionnez un Cours</option>
    @for(plan <- cours){
        <option value="@plan.id">@plan.heureDebut : @plan.saMatiere.libelleAbregee - @plan.saPromo.groupe @plan.saPromo.getType</option>
    }
}
</select>

<script type="text/javascript" src="@routes.Assets.versioned("selectpicker/bootstrap-select.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("selectpicker/defaults-fr_FR.js")"></script>
<script type="text/javascript">
        $('.selectpicker').selectpicker({
            size : 3
        });
</script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("selectpicker/bootstrap-select.css")">

