@*******************************************
* Bloc pour charger l'emplois du temps     *
********************************************@
@(titrepage: String)(promotions: java.util.List[Promotion])(salles: java.util.List[Salle])

<!-- Début du block dynamique-->
<style>
    .form-area
    {
    margin: 10% 0% 60%;
    }
</style>
<div>
    <div class="banner" style="margin-bottom: 40px;">
        <h1> @titrepage </h1>

        <p>
            <i class="glyphicon glyphicon-info-sign"></i> &nbsp; <i>Sur cette page vous pouvez gérer les emplois du temps.</i> <br/>
        </p>
    </div>

    <div class="container">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active" ><a href="#one_" data-toggle="tab"> Import </a></li>
                <li><a href="#two_" data-toggle="tab"> Créer un cours </a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="one_">
                    <form method="post" class="form-horizontal" id="formImportICS" action="/administrateur/importer-edt" enctype="multipart/form-data">
                        <fieldset>
                                <!-- Form Name -->
                            <legend>Chargement d'un caledrier au format ics</legend>

                                <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="choixFormation">Formation</label>
                                <div class="col-md-4">
                                    <select id="choixFormation" name="choixFormation" class="form-control" required>
                                        <option value="no1" disabled selected>Choisissez une formation</option>
                                        <option value="no1" disabled>--</option>
                                        @for(p<-promotions){
                                            <option value="@p.id" > @p.filiere - @p.groupe - @p.getType()</option>
                                        }
                                    </select>
                                </div>
                            </div>

                                <!-- File Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="fichierICS">Emploi du temps (fichier .ics)</label>
                                <div class="col-md-4">
                                    <input id="fichierICS" name="fichierICS" class="input-file" type="file" required>
                                </div>
                            </div>

                                <!-- Button (Double) -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="chargerEDT">Valider</label>
                                <div class="col-md-8">
                                    <button id="chargerEDT" name="chargerEDT" class="btn btn-default" style="font-color:white;">Chargement EDT</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="tab-pane" id="two_">
                    <div class="col-md-5">
                        <div class="form-area">
                            <form role="form">
                                <fieldset>
                                    <div id="info" ></div>
                                    <br style="clear:both">
                                    <h3 style="margin-bottom: 25px; text-align: center;"> Ajout d'un nouveau Cours </h3>
                                    <div class="form-group">
                                        <label for="typeCours"><strong>Type de cours *: </strong></label>
                                            <!-- selection du type de Cours -->
                                        <select class="form-control" id="typeCours">
                                            <option value = "CM"> Cours Magistraux </option>
                                            <option value = "TD"> Travaux Dirigés </option>
                                            <option value = "EXAMEN"> Examen </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="typeDetaille"><strong>Type détaillé cours : </strong></label>
                                        <input type="text" class="form-control" id="typeDetaille"  placeholder="Exemple : CM1/8">
                                    </div>

                                    <div class="form-group">
                                        <label for="theDate"><strong>Date *: </strong></label>
                                        <input type="text" class="form-control" id="theDate" placeholder="Date" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="heureDebut"><strong>Heure de début *: </strong></label>
                                        <input type="text" class="form-control" id="heureDebut" placeholder="heure de début" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="heureFin"><strong>Heure de fin *: </strong></label>
                                        <input type="text" class="form-control" id="heureFin" placeholder="heure de fin" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="theRoom"><strong>Salle *: </strong></label>
                                            <!-- selection des différentes promotions -->
                                        <select class="form-control" id="theRoom">
                                            <option value = "0">choisir une salle</option>
                                            @for(salle <- salles){
                                                <option value="@salle.id">@salle.libelle - @salle.sonBatiment.libelle - @salle.sonUniversite().libelle</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="thePromotion"><strong>Promotion *: </strong></label>
                                            <!-- selection des différentes promotions -->
                                        <select class="form-control" id="thePromotion">
                                            <option value = "0">choisir une promotion</option>
                                            @for(promotion <- promotions){
                                                <option value="@promotion.id">@promotion.filiere - @promotion.groupe - @promotion.getType()</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="theMatter"><strong>Matière *: </strong></label>
                                            <!-- selection des différentes promotions -->
                                        <select class="form-control" id="theMatter">
                                                <!--<option value = "0">choisir une matière</option>-->
                                        </select>
                                    </div>

                                    <a href="#" class="btn btn-default active" id="newCourse" role="button">Créer</a>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">

        $(document).ready(function(){

            /*
            * Retourne true si l'heure de début est avant l'heure de fin ou que
            * la minute de début est avant la minute de fin en cas d'égalité au niveau des heures
            * Retourne false sinon
            * */
            function checkTime(from, to){
                var fromTable = from.split(":");
                var toTable = to.split(":");
                var fromHour, toHour, fromMinutes, toMinutes;

                if((+ fromTable[0]) < (+ toTable[0]))
                    return true;
                else
                    if(((+ fromTable[0]) === (+ toTable[0])) && ((+ fromTable[1]) < (+ toTable[1]))){
                       return true;
                    }
                return false;
            }


            $('#formImportICS').on('submit', function (e) {
                e.preventDefault();

                var $form = $(this);
                var formdata = (window.FormData) ? new FormData($form[0]) : null;
                var data = (formdata !== null) ? formdata : $form.serialize();
                montreAttente();
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    contentType: false, // obligatoire pour de l'upload
                    processData: false, // obligatoire pour de l'upload
                    data: data,
                    dataType: 'html', // selon le retour attendu
                    success: function(data) {
                        $("#charger_fonctionnalite").html(data);
                        alert("Fichier importé avec succès");
                        cacheAttente();
                    },
                    error: function() {
                        alert("Erreur de chargement de l'emploi du temps");
                    }
                });
            });

            $('#theDate').pickadate(
                {
                    monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                    weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                    today: 'aujourd\'hui',
                    clear: 'Effacer',
                    format: 'dd/mm/yyyy',
                    selectYears: true,
                    selectMonths: true,
                    editable: true,
                    close: 'fermer',
                    min : true,
                    disable: [1]
                }
            );
            $('#heureDebut').pickatime(
                {
                    clear: 'Effacer',
                    format: 'H:i',
                    editable: true,
                    interval: 15,
                    min: [7,0],
                    max: [20,0]
                }
            );
            $('#heureFin').pickatime(
                {
                    clear: 'Effacer',
                    format: 'H:i',
                    editable: true,
                    interval: 15,
                    min: [7,0],
                    max: [20,0]
                }
            );

            $("#newCourse").button().on( "click", function() {
                $("#info div").each(function(){
                                $(this).remove();
                        });

                if((!$('#theDate').val()) || (!$('#heureDebut').val()) ||
                (!$('#heureFin').val()) || (!$('#theMatter').val())){
                    $("#info").append("<div style='color:red; font-size:medium;'>Veuillez remplir le formulaire s'il vous plait !</div> ");
                }
                else{
                    if(!checkTime($('#heureDebut').val(), $('#heureFin').val())){
                        $("#info").append("<div style='color:red; font-size:medium;'>L'heure de début doit précéder l'heure de fin !</div> ");
                    }
                    else{
                        if($('#theRoom').val() == 0){
                            $("#info").append("<div style='color:red; font-size:medium;'>Veuillez choisir une salle s'il vous plait !</div> ");
                        }
                        else{
                            if($('#thePromotion').val() == 0){
                                $("#info").append("<div style='color:red; font-size:medium;'>Veuillez choisir une promotion s'il vous plait !</div> ");
                            }
                            else{
                                if($('#theMatter').val() == 0){
                                    $("#info").append("<div style='color:red; font-size:medium;'>Veuillez choisir une matière s'il vous plait !</div> ");
                                }
                                else{
                                    var typeDetaille = (!$('#typeDetaille').val()) ? null : $('#typeDetaille').val();
                                    $.ajax({
                                        type: 'POST',
                                        contentType:'application/json',
                                        url: '/administrateur/enregistrer-un-cours',
                                        data: '{' +
                                                    '"typeCours": "' + $('#typeCours').val() + '",' +
                                                    '"typeDetaille": "' + typeDetaille + '",' +
                                                    '"theDate": "' + $('#theDate').val() + '",' +
                                                    '"heureDebut": "' + $('#heureDebut').val() + '",' +
                                                    '"heureFin": "' + $('#heureFin').val() + '",' +
                                                    '"theRoom": ' + $('#theRoom').val() + ',' +
                                                    '"thePromotion": ' + $('#thePromotion').val() + ',' +
                                                    '"theMatter": "' + $('#theMatter').val() + '"' +
                                              '}',
                                        dataType: 'JSON',
                                        timeout: 3000,
                                        success: function(results) {
                                            $.each(results, function(key, val){
                                                console.log("resulats : " + val.resultat);
                                                if(val.resultat == 0)
                                                    $("#info").append("<div style='color:red; font-size:medium;'> Le cours n'a pas été créé. " +
                                                     "<br/> Un cours est prévu sur le créneau que vous avez choisi !</div> ");
                                                else{
                                                    $("#info").append("<div style='color:forestgreen; font-size:medium; font-weight: bolder'>" +
                                                     "Votre cours a bien été Créé !</div> ");
                                                }
                                            });
                                        },
                                        error: function(xhr, ajaxOptions, thrownError) {
                                            console.log('La requête n\'a pas abouti');
                                            console.log('erreur status: ' + xhr.status + ' erreur : ' + thrownError);
                                        }
                                    });
                                }
                            }
                        }
                    }
                }
            });

            $("#thePromotion").change(function(){
                var laPromo = + $("#thePromotion").val();
                /*Fonction ajax permettant de récupérer les informations relatives aux matières*/
                $.ajax({
                    type: 'POST',
                    contentType:'application/json',
                    url: '/administrateur/liste-matieres-enseignants',
                    data: '{"promotion": '+laPromo+'}',
                    dataType: 'JSON',
                    timeout: 3000,
                    success: function(results) {
                        //Supprimer les options du select
                        $("#theMatter option").each(function(){
                                $(this).remove();
                        });
                        //Ajouter des nouvelles options
                        $("#theMatter").append('<option value = "0">choisir une matière</option>');
                        $.each(results, function(key, val){
                            $.each(val.Enseignant, function(key1, val1){
                                $("#theMatter").append('<option value = ' + val.idMatter + '-' +
                                val1.idEnseignant + '>' + val.libelleMatter + ' - ' +
                                val1.nomEnseignant + ' ' + val1.prenomEnseignant + '</option>');
                            });
                        });
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        console.log('La requête n\'a pas abouti');
                        console.log('erreur status: ' + xhr.status + ' erreur : ' + thrownError);
                    }
                });

            });

        });
</script>
