@*******************************************
* Bloc pour gérer un profil etudiant*
********************************************@
@(titrepage: String)

<!-- Début du block dynamique-->
<div>
    <div class="banner">
        <h1> @titrepage </h1>

        <p>
            <i class="glyphicon glyphicon-info-sign"></i> &nbsp; <i>Sur cette page vous pouvez gérer la partie étudiante à savoir ajouter, modifier et supprimer un/des étudiant(s) dans une promotion.</i> <br/>
        </p>
    </div>

    <p> Ici le block pour gérer un profil etudiant </p>
</div>
<!-- Fin du block dynamique-->
