@**************************************************
* Bloc pour gerer les justificatifs d'abscences *
***************************************************@
@(titrepage: String)(promotions : java.util.List[Promotion])

<!-- Récupérer les différentes promotions -->
<!-- Créer dynamiquement la page pour chaque promotion-->
<!-- Créer dynamiquement le tableau dans chaque page -->
<!-- Récupérer pour chaque promotion la liste de ses étudiants -->
<!-- Intégrer l'image pour le téléchargement de la video -->
<!-- Modifier le tableau de chaque promotion en y insérant les étudiants -->
<!-- Mettre en place le téléchargement des justificatif -->
<!-- Reproportionner la page pour qu'elle s'adapte à la feuille -->
<!-- Début du block dynamique -->
<div>
    <div class="banner" style="margin-bottom: 40px;">
        <h1> @titrepage </h1>

        <p>
            <i class="glyphicon glyphicon-info-sign"></i> &nbsp; <i>Sur cette page vous pouvez gérer les justificatifs d'abscences des étudiants.</i> <br/>
        </p>
    </div>

    <div class="container">
        <div >
                <!-- tabs bottom -->
            <div class="tabbable tabs-below">
                <div class="tab-content">
                    <div class="tab-pane active" id="one_">
                        <div id="daylyForm" style="margin-left: 30%; margin-right: 20%; margin-bottom: 5%">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="daylyPromoSelect">Promotion</label>
                                        <!-- selection des différentes promotions -->
                                    <select class="form-control" id="daylyPromoSelect">
                                        <option value = "0">choisir une promotion</option>
                                        @for(promotion <- promotions){
                                            <option value="@promotion.id">@promotion.filiere - @promotion.groupe - @promotion.getType()</option>
                                        }
                                    </select>
                                </div>
                                <a href="#" class="btn btn-default active" id="daylyAbsenceSubmit" role="button">Rechercher</a>
                            </form>
                        </div>
                        <hr>
                        <div style="margin-left: 10%; margin-right: 10%;margin-bottom: 15%">
                            <table id="DaylyDatatable" class="display" cellspacing="0" width="100%">
                                <thead><tr><th>Etudiant</th><th>Cours</th><th>Créneau</th><th>Motif</th><th>Justificatif</th></tr></thead>
                                <tbody id="daylyAbsencesContent">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="two_">
                        <div id="yearlyForm" style="margin-left: 20%; margin-right: 20%; margin-bottom: 5%">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="yearlyPromoSelect">Promotion</label>
                                        <!-- selection des différentes promotions -->
                                    <select class="form-control" id="yearlyPromoSelect">
                                        <option value = "0">choisir une promotion</option>
                                        @for(promotion <- promotions){
                                            <option value="@promotion.id">@promotion.filiere - @promotion.groupe - @promotion.getType()</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="yearlyPromoDate">Date</label>
                                    <input class="form-control" id="yearlyPromoDate" type="text" >
                                    <span class="add-on"><i class="icon-th"></i></span>
                                    <!--<div class="input-append date" id="dp3"  data-date-format="dd-mm-yyyy">
                                    </div>-->
                                </div>
                                <a href="#" class="btn btn-default active" id="yearlyAbsenceSubmit" role="button">Rechercher</a>
                            </form>
                        </div>
                        <hr>
                        <div style="margin-left: 10%; margin-right: 10%; margin-bottom: 15%">
                            <table id="YearlyDatatable" class="display" cellspacing="0" width="100%">
                                <thead><tr><th>Etudiant</th><th>Cours</th><th>Créneau</th><th>Motif</th><th>Justificatif</th></tr></thead>
                                <tbody id="yearlyAbsencesContent">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <ul class="nav nav-tabs">
                    <li><a href="#one_" data-toggle="tab">Abscence d'Aujourd'hui</a></li>
                    <li><a href="#two_" data-toggle="tab">Rechercher par date</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <!-- Fin du block dynamique-->

    <!-- Les scripts -->
<script>

    $(document).ready(
        function() {

            /* Permet de mettre en forme la table de données*/
            //TableauDayly
            var daylyTable = $('#DaylyDatatable').DataTable();
            //TableayYearly
            var yearlyTable = $('#YearlyDatatable').DataTable();

            /*Permet d'avoir la date sous le format français*/
            function formatDate(){
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!

                var yyyy = today.getFullYear();
                if(dd<10){
                    dd='0'+dd
                }
                if(mm<10){
                    mm='0'+mm
                }
                return dd+'/'+mm+'/'+yyyy;
            }

            /*Permet de remplir le dataTable qui présente les absences*/
            function fillTable(data, theTable){
                var ligne = "";
                var theButton = "";
                $.each(data, function(idx, value){
                    if(value.justificatif != '#')
                        theButton = "<td><a href='/administrateur/fileDownload/" + value.id + "'>"
                            + "<button type='button' class='btn btn-info'"
                            + "aria-label='Left Align'><span class='glyphicon glyphicon-download-alt' aria-hidden='true'>"
                            + "</span></button></a></td>";
                    else
                        theButton = "<td> Pas de justificatif </td>";

                    ligne = "<tr data-id=" + value.id + "><td>" + value.nomEtudiant + " " + value.prenomEtudiant + " - " + value.numeroEtudiant
                            + "</td> <td>" + value.libelle + " - " + value.libelleAbregee + "</td> <td>" + value.heureDebut
                            + " - " + value.heureFin + "</td> <td>" + value.motif + "</td>"
                            + theButton + " </tr>";
                    theTable.row.add($(ligne)).draw();
                    ligne = "";
                    theButton = "";
                });
            }

            /* instanciation du champs date */
            $( "#yearlyPromoDate" ).datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange:'-90:+0',
                maxDate: '0'
            });

            /*Fonction qui permet de récupérer les absences du jour courant*/
            function getDaylyAbsences(){
                $laDate = formatDate();
                $laPromo = parseInt($('#daylyPromoSelect').val());

                /*Fonction ajax permettant de récupérer les informations relatives aux abscences*/
                $.ajax({
                    type: 'POST',
                    contentType:'application/json',
                    url: '/administrateur/liste-abscences',
                    //data : sendInfo,
                    data: '{"promotion": '+$laPromo+', "laDate": "'+$laDate+'"}',
                    dataType: 'JSON',
                    timeout: 3000,
                    success: function(data) {
                        fillTable(data, daylyTable);
                        console.log("success");
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        console.log('La requête n\'a pas abouti');
                        console.log('erreur status: ' + xhr.status + ' erreur : ' + thrownError);
                    }
                });
            }

            /*Fonction qui permet de récupérer les absences un jour quelconque de l'année*/
            function getYearlyAbsences(){
                $laPromo = parseInt($('#yearlyPromoSelect').val());
                 $laDate = $('#yearlyPromoDate').val();

                /*Fonction ajax permettant de récupérer les informations relatives aux abscences*/
                $.ajax({
                    type: 'POST',
                    contentType:'application/json',
                    url: '/administrateur/liste-abscences',
                    data: '{"promotion": '+$laPromo+', "laDate": "'+$laDate+'"}',
                    dataType: 'JSON',
                    timeout: 3000,
                    success: function(data) {
                        fillTable(data, yearlyTable);
                        console.log("success");
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        console.log('La requête n\'a pas abouti');
                        console.log('erreur status: ' + xhr.status + ' erreur : ' + thrownError);
                    }
                });
            }

        $("#daylyAbsenceSubmit").button().on( "click", function() {
            $("#daylyAbsencesContent").empty();
            getDaylyAbsences();
        });

        $("#yearlyAbsenceSubmit").button().on( "click", function() {
            $("#yearlyAbsencesContent").empty();
            getYearlyAbsences();
        });

        }
    );
</script>