@*******************************************
* Bloc pour gérer un profil etudiant*
********************************************@
@import controllers.administrateur.gestionDesParametres.parametresEtudiant
@(titrepage: String)(parametres: parametresEtudiant)

<!-- Début du block dynamique-->
<div>
    <div class="banner">
        <h1> @titrepage </h1>

        <p>
            <i class="glyphicon glyphicon-info-sign"></i> &nbsp; <i>Sur cette page vous pouvez gérer la partie étudiante à savoir ajouter, modifier et supprimer un/des étudiant(s) dans une promotion.</i> <br/>
        </p>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                @if(parametres.getListeBatiments == null){
                    <th style="color:red;" width="20%">1 - sélectionner une université</th>
                }else{
                    <th width="20%">1 - sélectionner une université</th>
                }
                <th width="20%">2 - Sélectionner un batiment</th>
                <th width="20%">3 - Sélectionner une filière</th>
                <th width="20%">4 - Sélectionner une promotion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="20%">
                        <!-- List group -->
                    <ul class="list-group">
                        <div style="height: 120px;overflow: auto;">
                            @for(universites <- parametres.getListeUniversite()){

                                <a href="#"> <li class="list-group-item">@universites.libelle</li> </a>

                            }
                        </div>
                    </ul>
                </td>
                <td width="20%">
                    @if(parametres.getListeBatiments() == null){
                        <i>Aucune liste disponible</i>
                    }else{
                        @for(universites <- parametres.getListeBatiments()){

                            <a href="#"> <li class="list-group-item">@universites.libelle</li> </a>

                        }
                    }
                    John
                </td>
                <td width="20%">
                    John
                </td>
                <td width="20%">
                    John
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Fin du block dynamique-->
