@**************************************************
* Bloc pour gerer les justificatifs d'abscences *
***************************************************@
@(titrepage: String)(promotions : java.util.List[Promotion])

<!-- Récupérer les différentes promotions -->
<!-- Créer dynamiquement la page pour chaque promotion-->
<!-- Créer dynamiquement le tableau dans chaque page -->
<!-- Récupérer pour chaque promotion la liste de ses étudiants -->
<!-- Intégrer l'image pour le téléchargement de la video -->
<!-- Modifier le tableau de chaque promotion en y insérant les étudiants -->
<!-- Mettre en place le téléchargement des justificatif -->
<!-- Reproportionner la page pour qu'elle s'adapte à la feuille -->
<!-- Début du block dynamique -->
<div>
    <h1> @titrepage </h1>

    <div class="container">
        <div >
                <!-- tabs bottom -->
            <div class="tabbable tabs-below">
                <div class="tab-content">
                    <div class="tab-pane active" id="one_">
                        <div id="daylyForm">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="daylyPromoSelect">Promotion</label>
                                        <!-- selection des différentes promotions -->
                                    <select class="form-control" id="daylyPromoSelect">
                                        <option value = "0">choisir une promotion</option>
                                        @for(promotion <- promotions){
                                            <option value="@promotion.id">@promotion.filiere - @promotion.groupe - @promotion.getType()</option>
                                        }
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-default active" id="daylyAbsenceSubmit">Rechercher</button>
                            </form>
                        </div>
                        <table id="one_Datatable" class="display" cellspacing="0" width="100%">
                            <thead><tr><th>Date</th><th>Créneau</th><th>Cours</th><th>Etudiant</th><th>Motif</th><th>Justificatif</th></tr></thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="two_">
                        <div id="yearlyForm">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="yearlyPromoSelect">Promotion</label>
                                        <!-- selection des différentes promotions -->
                                    <select class="form-control" id="yearlyPromoSelect">
                                        <option value = "0">choisir une promotion</option>
                                        @for(promotion <- promotions){
                                            <option value="@promotion.id">@promotion.filiere - @promotion.groupe - @promotion.getType()</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="yearlyPromoDate">Date</label>
                                    <input class="form-control" id="yearlyPromoDate" type="text" value="">
                                    <span class="add-on"><i class="icon-th"></i></span>
                                    <!--<div class="input-append date" id="dp3"  data-date-format="dd-mm-yyyy">
                                    </div>-->
                                </div>
                                <button type="submit" class="btn btn-default active" id="yearlyAbsenceSubmit">Rechercher</button>
                            </form>
                        </div>
                        <table id="two_Datatable" class="display" cellspacing="0" width="100%">
                            <thead><tr><th>Date</th><th>Créneau</th><th>Cours</th><th>Etudiant</th><th>Motif</th><th>Justificatif</th></tr></thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li><a href="#one_" data-toggle="tab">Abscence d'Aujourd'hui</a></li>
                    <li><a href="#two_" data-toggle="tab">Rechercher par date</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <!-- Fin du block dynamique-->