@*******************************************
* Bloc pour gérer les enseignants     *
********************************************@
@import controllers.administrateur.gestionDesParametres.parametresProfilCree
@(titrepage: String)(lesEnseignants: java.util.List[Enseignant])(etape: String)(paramProfil: parametresProfilCree)
@import java.util.Date; var hdebut=""; var hfin=""; var ladate="";
@import java.math.BigInteger; var i=0;
@import java.text.SimpleDateFormat;

<!-- Début du block dynamique - -->
<div>
    <div class="banner">
        <h1 style="margin-top: 0px;"> @titrepage </h1>

        <p>
            <i class="glyphicon glyphicon-info-sign"></i> &nbsp; <i>Sur cette page vous pouvez gérer la partie enseignante à savoir ajouter, modifier et supprimer un professeur. Vous pouvez aussi lui affecter/retirer un ou des cour(s)</i> <br/>
        </p>
    </div>

    @if((etape == "accueil") || (etape == "supprimer-enseignant")){

        <div class="row">
            <div class="col-xs-6">
                <div class="list-group">
                    <li class="list-group-item active">Ajouter des enseignants</li>
                    <div id="reduire_espace">
                        <a href="#" id="ajoutProf"><button type="button" class="btn btn-info-outline btn-lg btn-block">Ajouter un professeur</button></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">

                @if(etape == "supprimer-enseignant"){
                    <div class="alert alert-danger" role="alert">
                        L'enseignant @paramProfil.getPrenom() @paramProfil.getNom() a bien été supprimer !
                    </div>
                }

                <div class="list-group">
                    <li class="list-group-item active">Ci-joint la liste des professeurs</li>
                    <div class="input-group">
                        <span class="input-group-addon">Filtrer</span>
                        <input id="filter" type="text" class="form-control" placeholder="Filtrer ici...">
                    </div>
                    <div style="height: 350px; overflow: auto;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><b>Nom</b></th>
                                    <th><b>Prénom</b></th>
                                    <th><b>Statut</b></th>
                                    <th><b>Gérer</b></th>
                                    <th><b>Supprimer</b></th>
                                </tr>
                            </thead>
                            <tbody class="searchable">
                            @for(enseignant <- lesEnseignants) {
                                <tr>
                                    <td> @enseignant.sonUtilisateur.nom </td>
                                    <td> @enseignant.sonUtilisateur.prenom </td>
                                    <td> @enseignant.statut </td>
                                    <td> <button type="button" onclick="gerer(@enseignant.id);" class="btn btn-default btn-sm">Gérer</button> </td>
                                    <td class="centrer_texte"> <a href="#" onclick="supprimer('@enseignant.id', '@enseignant.sonUtilisateur.prenom', '@enseignant.sonUtilisateur.nom');"><img src="@routes.Assets.versioned("images/supprimer.png")" alt="Logo Supprimer" height="30" width="30"/></a></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

    @if(etape == "ajout-simple"){
        <div>
            <div class="card card-user">
                <div class="image">
                    <img src="@routes.Assets.versioned("images/Image-pro1.jpg")"  alt="Image pro"/>
                </div>
                <div class="content">
                    <div class="author">
                        <img class="avatar border-gray" src="@routes.Assets.versioned("images/recrutement.jpg")" alt="Recrutement"/>
                    </div>


                    <form id="nouveauProfesseur" method="post" action="/administrateur/gerer-utilisateur/creer-enseignant" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nom</label>
                                    <input type="text" id="nom" name="nom" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Prenom</label>
                                    <input type="text" id="prenom" name="prenom" class="form-control" required />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Adresse mail</label>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Email" required />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Mot de passe (Défaut = password) </label>
                                    <input type="password" class="form-control" id="mdp" name="mdp" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="datepicker10">Date de naissance</label>
                                    <input type="text" class="form-control" name="datepicker10" placeholder="Cliquer ici" id="datepicker10" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Statut de l'enseignant</label>
                                    <input type="text" class="form-control" id="status" name="status" placeholder="Exemple: SUP, VAC, PRAG ..." required />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>A t'il des droits administrateur ?</label>
                                    <label class="radio-inline"><input type="radio" name="droits" value="OUI" />Oui</label>
                                    <label class="radio-inline"><input type="radio" name="droits" value="NON" checked />Non</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Ajouter une photo (Facultatif)</label>
                                    <input type="file" class="form-control" id="photo" name="photo" />
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info btn-fill">Créer le Profil</button>
                    </form>

                </div>
                <hr>
                <div class="text-center">

                </div>
            </div>
        </div>
    }

    @if(etape == "profile-creer" ){

        <div class="alert alert-success" role="alert">
            Ajout du nouveau profil avec sucess !
        </div>
        <p>
            <a href="#" id="ajoutProf">
                <button type="button" class="btn btn-info btn-fill">Créer un autre profil</button>
            </a>
        </p>

        <div>
            <div class="card card-user" style="margin-left:10%;margin-right: 10%;">
                <div class="image">
                    <img src="@routes.Assets.versioned("images/Image-pro1.jpg")"  alt="Image pro"/>
                </div>
                <div class="content">
                    @if(paramProfil.getLienphoto == ""){
                        <div class="author">
                            <img class="avatar border-gray" src="@routes.Assets.versioned("images/recrutement.jpg")" alt="Recrutement"/>
                        </div>
                    }else{
                        <div class="author">
                            <img class="avatar border-gray" src="@routes.Assets.versioned(paramProfil.getLienphoto)"  alt="Recrutement"/>
                        </div>
                    }

                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Nom</label>
                                    <input type="text" id="nom" name="nom" class="form-control" disabled value="@paramProfil.getNom()" />
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Prenom</label>
                                    <input type="text" id="prenom" name="prenom" class="form-control" disabled value="@paramProfil.getPrenom()" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Adresse mail</label>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Email" disabled value="@paramProfil.getAdresseMail()" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="datepicker10">Date de naissance</label>
                                    <input type="text" class="form-control"  disabled value="@paramProfil.getDatenaissance()"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Statut de l'enseignant</label>
                                    <input type="text" class="form-control" disabled value="@paramProfil.getStatus()" />
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>A t'il des droits administrateur ?</label>
                                    @if(paramProfil.getDroits == "OUI"){
                                        <p><label class="radio-inline">Oui</label></p>
                                    }else{
                                        <p><label class="radio-inline">Non</label></p>
                                    }
                                </div>
                            </div>
                        </div>
                </div>
                <hr>
                <div class="text-center">

                </div>
            </div>
        </div>
    }

    @if((etape == "gerer-un-profil-enseignant") || (etape == "modifier-un-profil-enseignant") ){
        <div > <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                @if(paramProfil.getListeBatiments() !=null){
                    <li><a href="#tab1" data-toggle="tab">Modifier le profil</a></li>
                    <li class="active"><a href="#tab2" data-toggle="tab">Affecter/retirer des cours</a></li>
                    <li><a href="#tab3" data-toggle="tab">Afficher les cours enseignés</a></li>
                }else{
                    <li class="active"><a href="#tab1" data-toggle="tab">Modifier le profil</a></li>
                    <li><a href="#tab2" data-toggle="tab">Affecter/retirer des cours</a></li>
                    <li><a href="#tab3" data-toggle="tab">Afficher les cours enseignés</a></li>
                }
            </ul>

            <div class="tab-content">

                @if(paramProfil.getListeBatiments() != null){

                    <div class="tab-pane" id="tab1">
                }else{
                    <div class="tab-pane active" id="tab1">
                }


                    @if(etape == "modifier-un-profil-enseignant"){
                        <div class="alert alert-success" role="alert">
                            Le profil de @paramProfil.getPrenom() @paramProfil.getNom() a été modifié avec sucess !
                        </div>
                    }

                    <div>
                        <div class="card card-user" style="margin-top: 5%;margin-left:20%;margin-right: 20%;">
                            <div class="image">
                                <img src="@routes.Assets.versioned("images/Image-pro1.jpg")"  alt="Image pro"/>
                            </div>
                            <div class="content">
                                @if(paramProfil.getLienphoto == ""){
                                    <div class="author">
                                        <img class="avatar border-gray" src="@routes.Assets.versioned("images/recrutement.jpg")" alt="Recrutement"/>
                                    </div>
                                }else{
                                    <div class="author">
                                        <img class="avatar border-gray" src="@routes.Assets.versioned(paramProfil.getLienphoto)"  alt="Recrutement"/>
                                    </div>
                                }

                                <form id="modifProf" method="POST" action="/administrateur/enseignant/profil/modification" enctype="multipart/form-data">
                                    <div style="margin-left: 10px;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nom</label>
                                                    <input type="text" id="nom" name="nom" class="form-control"  value="@paramProfil.getNom()" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Prenom</label>
                                                    <input type="text" id="prenom" name="prenom" class="form-control" value="@paramProfil.getPrenom()" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Adresse mail</label>
                                                    <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="@paramProfil.getAdresseMail()" />
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label for="datepicker10">Date de naissance</label>
                                                    <input type="text" class="form-control" id="datenaissance" name="datenaissance" value="@paramProfil.getDatenaissance()"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Statut de l'enseignant</label>
                                                    <input type="text" class="form-control" id="statut" name="status" value="@paramProfil.getStatus()" />
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>A t'il des droits administrateur ?</label>
                                                    @if(paramProfil.getDroits() == "OUI"){
                                                        <label class="radio-inline"><input type="radio" name="droits" value="OUI" checked/>Oui</label>
                                                        <label class="radio-inline"><input type="radio" name="droits" value="NON"  />Non</label>
                                                    }else{
                                                        <label class="radio-inline"><input type="radio" name="droits" value="OUI" />Oui</label>
                                                        <label class="radio-inline"><input type="radio" name="droits" value="NON" checked />Non</label>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nouveau mot de passe (Facultatif)</label>
                                                    <input type="password" class="form-control" id="mdp" name="mdp"  />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Changer la photo (Facultatif)</label>
                                                    <input type="file" class="form-control" id="photo" name="photo" />
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-info btn-fill">Modifier le profil</button>
                                    </div>

                                    <!-- Pour faciliter la récupération de données dans le controller -->
                                    <input type="hidden" id="idenseignant" name="idenseignant" value="@paramProfil.getLenseignant().id" />
                                </form>
                            </div>
                            <hr>
                            <div class="text-center">

                            </div>
                        </div>
                    </div>
                </div>

                @if(paramProfil.getListeBatiments() != null){
                    <!-- Second volet -->
                    <div class="tab-pane active" id="tab2">
                }else{
                    <div class="tab-pane" id="tab2">
                }


                            <!-- Affectation d'un cours -->
                        <div>
                            <form class="form-inline" role="form">
                                <h2>Affecter l'enseignant à un cours ou lui retirer un/des cour(s)</h2> <hr/>

                                <div class="centrer_contenu2">
                                        <div class="form-group" style="margin-right: 50px;">
                                        @if((paramProfil.getEtapeListes() != "") && (paramProfil.getEtapeListes.equals("ChoixUniversite"))){
                                            <label class="rouge-texte">1 - </label>
                                        }else{
                                            <label>1 - </label>
                                        }
                                            <select id="selectionFac" name="selectionFac" class="form-control"  style="width:225px;">
                                            @if(paramProfil.getListeBatiments() == null){
                                                <option value="-">Sélectionner une université</option>
                                            }
                                                @for(listeUniversite <- paramProfil.getListeUniversite()){
                                                    @if(listeUniversite.id == paramProfil.getSelectionUniversite()){
                                                        <option value="@listeUniversite.id" selected>@listeUniversite.libelle</option>
                                                    }else{
                                                        <option value="@listeUniversite.id" >@listeUniversite.libelle</option>
                                                    }
                                                }

                                            </select>
                                        </div>

                                        <div class="form-group">
                                        @if((paramProfil.getEtapeListes() != "") && (paramProfil.getEtapeListes.equals("selectionBatiment"))){
                                            <label class="rouge-texte">2 - </label>
                                        }else{
                                            <label>2 - </label>
                                        }
                                            <select id="selectionBatiment" name="selectionBatiment" class="form-control" style="width:225px; margin-right: 50px;">
                                            @if(paramProfil.getListeFilieres() == null){
                                                <option value="-">Sélectionner un batiment</option>
                                            }
                                                @if(paramProfil.getListeBatiments() != null){
                                                    @for(listeBatiments <- paramProfil.getListeBatiments()){
                                                        @if(listeBatiments.id == paramProfil.getSelectionBatiment()){
                                                            <option value="@listeBatiments.id" selected>@listeBatiments.libelle</option>
                                                        }else{
                                                            <option value="@listeBatiments.id" >@listeBatiments.libelle</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                </div>
                                <div class="centrer_contenu2">
                                    <div class="form-group" style="margin-right: 50px;">
                                    @if((paramProfil.getEtapeListes() != "") && (paramProfil.getEtapeListes.equals("selectionFiliere"))){
                                        <label  class="rouge-texte">3 - </label>
                                    }else{
                                        <label>3 - </label>
                                    }
                                        <select id="selectionfiliere" name="selectionfiliere" class="form-control"  style="width:225px;">
                                            @if(paramProfil.getListePromotion() == null){
                                                <option value="-">Sélectionner une filière</option>
                                            }
                                            @if(paramProfil.getListeFilieres() != null){
                                                @for(listeFilieres <- paramProfil.getListeFilieres()){
                                                    @if(listeFilieres.libelle == paramProfil.getSelectionFiliere()){
                                                        <option value="@listeFilieres.libelle" selected>@listeFilieres.libelle</option>
                                                    }else{
                                                        <option value="@listeFilieres.libelle" >@listeFilieres.libelle</option>
                                                    }
                                                }
                                            }
                                            </select>
                                        </div>

                                    <div class="form-group">
                                    @if((paramProfil.getEtapeListes() != "") && (paramProfil.getEtapeListes.equals("selectionPromotion"))){
                                        <label class="rouge-texte">4 - </label>
                                    }else{
                                        <label>4 - </label>
                                    }
                                        <select id="selectionpromotion" name="selectionpromotion" class="form-control"  style="width:225px; margin-right: 50px;">
                                        @if(paramProfil.getLesMatieres() == null){
                                            <option value="-">Sélectionner une promotion</option>
                                        }
                                            @if(paramProfil.getListePromotion() != null){
                                                @for(listePromotion <- paramProfil.getListePromotion()){
                                                    @if(listePromotion.id == paramProfil.getSelectionPromotion()){
                                                        <option value="@listePromotion.id" selected>@listePromotion.groupe - @listePromotion.getType()</option>
                                                    }else{
                                                        <option value="@listePromotion.id" >@listePromotion.groupe - @listePromotion.getType()</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>

                    <!-- Affichage des cours à affecter -->
                    <div id="affichage_cour_promotion">
                        @if(paramProfil.getLesMatieres() != null){
                            <div class="row">
                                <div class="col-sm-4" style="border-right: 1px solid black;">
                                    <h3> Sélectionnez une matière enseigné à cette promotion </h3>
                                    <div class="list-group">
                                        @for(listeMatieres <- paramProfil.getLesMatieres()){
                                            @if(paramProfil.getSelectionMatiere() == listeMatieres.id){
                                                <button type="button" onclick="afficherLesCours('@listeMatieres.id', '@paramProfil.getSelectionPromotion()')" class="list-group-item active"> @listeMatieres.getLibelle() <i class="glyphicon glyphicon-chevron-right pull-right"></i></button>
                                            }else{
                                                <button type="button" onclick="afficherLesCours('@listeMatieres.id', '@paramProfil.getSelectionPromotion()')" class="list-group-item"> @listeMatieres.getLibelle() <i class="glyphicon glyphicon-chevron-right pull-right"></i></button>
                                            }
                                        }
                                    </div>
                                </div>

                                <!-- Affectation des cours -->
                                <div class="col-sm-8">
                                    <h3> Affecter/retirer un ou des cours à l'enseignant </h3>

                                    @if(paramProfil.getLesCoursDelaMatiereDeLaPromotion() != null){
                                        <div class="row">
                                            <div class="col-md-4">
                                                <form id="formToutCocher" method="POST" action="/administrateur/affecter-cours/affecter-retirer-tous">
                                                    <input type="hidden" id="statut" name="statut" value="TousAffecter" />
                                                    <input type="hidden" id="idprof" name="idprof" value="@paramProfil.getIdprofesseur()" />
                                                    <input type="hidden" id="idmat" name="idmat" value="@paramProfil.getSelectionMatiere()" />
                                                    <input type="hidden" id="idpromo" name="idpromo" value="@paramProfil.getSelectionPromotion()" />
                                                    <button type="submit" id="toutCocher">Affecter tous les cours</button>
                                                </form>
                                            </div>
                                            <div class="col-md-4">
                                                <form id="formToutRetirer" method="POST" action="/administrateur/affecter-cours/affecter-retirer-tous">
                                                    <input type="hidden" id="statut" name="statut" value="TousRetirer" />
                                                    <input type="hidden" id="idprof" name="idprof" value="@paramProfil.getIdprofesseur()" />
                                                    <input type="hidden" id="idmat" name="idmat" value="@paramProfil.getSelectionMatiere()" />
                                                    <input type="hidden" id="idpromo" name="idpromo" value="@paramProfil.getSelectionPromotion()" />
                                                    <button type="submit" id="toutRetirer" style="background: red; color: white;">Retirer tous les cours</button>
                                                </form>
                                            </div>
                                        </div>
                                    }
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Fillière</th>
                                                <th>Promotion</th>
                                                <th>Matière</th>
                                                <th>Type</th>
                                                <th>Dates</th>
                                                <th>Heure début</th>
                                                <th>Heure fin</th>
                                                <th>Salle</th>
                                                <th>Cours affecté à </th>
                                                <th>Affecter / Désaffecter <br />Sélectionner tout <br/>   </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if(paramProfil.getLesCoursDelaMatiereDeLaPromotion() != null){
                                                @for(lesCoursDelaPromo <- paramProfil.getLesCoursDelaMatiereDeLaPromotion()){
                                                    <tr>
                                                        <td>@lesCoursDelaPromo.saPromo.filiere</td>
                                                        <td> @lesCoursDelaPromo.saPromo.groupe @lesCoursDelaPromo.saPromo.getType()</td>
                                                        <td>@lesCoursDelaPromo.saMatiere.getLibelle</td>
                                                        <td>@lesCoursDelaPromo.saMatiere.libelleAbregee</td>
                                                        @{
                                                            hdebut = new SimpleDateFormat("HH:mm").format(lesCoursDelaPromo.heureDebut)

                                                            hfin = new SimpleDateFormat("HH:mm").format(lesCoursDelaPromo.heureFin)

                                                            hdebut = hdebut.replace(":","H");
                                                            hfin = hfin.replace(":","H");
                                                            ladate = new SimpleDateFormat("dd/MM/yyyy").format(lesCoursDelaPromo.heureDebut)
                                                        }
                                                        <td>@ladate</td>
                                                        <td>@hdebut</td>
                                                        <td>@hfin</td>
                                                        <td>@lesCoursDelaPromo.saSalle.libelle</td>
                                                        <td>
                                                            @if(lesCoursDelaPromo.sonEnseignant != null){
                                                                @if(paramProfil.getIdprofesseur() == lesCoursDelaPromo.sonEnseignant.id){
                                                                    <span class="rouge-texte">@lesCoursDelaPromo.sonEnseignant.sonUtilisateur.prenom @lesCoursDelaPromo.sonEnseignant.sonUtilisateur.nom</span>
                                                                }else{
                                                                    @lesCoursDelaPromo.sonEnseignant.sonUtilisateur.prenom @lesCoursDelaPromo.sonEnseignant.sonUtilisateur.nom
                                                                }
                                                            }
                                                        </td>
                                                        <td class="centrer_texte">
                                                            @(i += 1)
                                                            @if((lesCoursDelaPromo.sonEnseignant != null) && (paramProfil.getIdprofesseur() == lesCoursDelaPromo.sonEnseignant.id)){
                                                                <input  type="checkbox" onclick="affecterDesafferter('decocher', '@paramProfil.getSelectionPromotion()','@lesCoursDelaPromo.saMatiere.id','@lesCoursDelaPromo.id','@paramProfil.getIdprofesseur()');" checked /> <!-- La case est cocher on la décoche. On retire le cours au prof -->
                                                            }else{
                                                                <input  type="checkbox" onclick="affecterDesafferter('cocher', '@paramProfil.getSelectionPromotion()','@lesCoursDelaPromo.saMatiere.id','@lesCoursDelaPromo.id','@paramProfil.getIdprofesseur()');" /> <!-- La case est décoche on la coche. On affecte le cours au prof -->
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }else{
                            <p class="rouge-texte"> Il n'y a pas de matières affectés à cette promotion !</p>
                        }
                    </div>
                    <!-- ./Fin d'affichage -->
                </div>


                <!-- Troisième volet -->
                <div class="tab-pane" id="tab3">

                    <div class="container">
                        <h2>Récapitulatif de vos cours</h2> <hr/>

                        <div style="height: 350px; margin-bottom: 20px; overflow: auto;">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Fillière</th>
                                        <th>Promotion</th>
                                        <th>Matière</th>
                                        <th>Type</th>
                                        <th>Dates</th>
                                        <th>Heure début</th>
                                        <th>Heure fin</th>
                                        <th>Salle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(lesCoursDuProf <- paramProfil.getLesCoursDuProf()){
                                        <tr>
                                            <td>@lesCoursDuProf.saPromo.filiere</td>
                                            <td> @lesCoursDuProf.saPromo.groupe @lesCoursDuProf.saPromo.getType()</td>
                                            <td>@lesCoursDuProf.saMatiere.getLibelle</td>
                                            <td>@lesCoursDuProf.saMatiere.libelleAbregee</td>
                                            @{
                                                hdebut = new SimpleDateFormat("HH:mm").format(lesCoursDuProf.heureDebut)

                                                hfin = new SimpleDateFormat("HH:mm").format(lesCoursDuProf.heureFin)

                                                hdebut = hdebut.replace(":","H");
                                                hfin = hfin.replace(":","H");
                                                ladate = new SimpleDateFormat("dd/MM/yyyy").format(lesCoursDuProf.heureDebut)
                                            }
                                            <td>@ladate</td>
                                            <td>@hdebut</td>
                                            <td>@hfin</td>
                                            <td>@lesCoursDuProf.saSalle.libelle</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                </div>
            </div> <!-- Fin content -->
                </div>
            </div>
        </div>
    </div>
    }
</div>

<!-- Fin du block dynamique-->


<!-- Partie script -->
<script>
        $(function() {
            $( "#datepicker10" ).datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange:'-90:+0'
            });
        });
</script>


<script>
    $(document).ready(function () {

    (function ($) {

        $('#filter').keyup(function () {

        var rex = new RegExp($(this).val(), 'i');
        $('.searchable tr').hide();
        $('.searchable tr').filter(function () {
        return rex.test($(this).text());
        }).show();

        })

        }(jQuery));

    });
</script>
<script>
        $(document).ready(function(){
            $('#ajoutProf').click(function(){

                    $.ajax({
                        url: '/administrateur/gerer-utilisateur/ajouter-enseignant',
                        type: "GET",
                        dataType : 'html',
                        success: function(data) {

                            $("#charger_fonctionnalite").html(data);

                        },
                        error: function() {
                            alert("Erreur de chargement de la page ajouter enseignant !")
                        }
                    });

            });
        });
</script>
<script>
        $(document).ready(function(){
            $(function () {
                $('#nouveauProfesseur').on('submit', function (e) {
                    // On empêche le navigateur de soumettre le formulaire
                    e.preventDefault();

                    var $form = $(this);
                    var formdata = (window.FormData) ? new FormData($form[0]) : null;
                    var data = (formdata !== null) ? formdata : $form.serialize();


                    if(($("#nom").val() != '') && ($("#prenom").val() != '') && ($("#email").val() != '') && ($("#mdp").val() != '') && ($("#status").val() != ''))
                    {
                        $.ajax({
                            url: $form.attr('action'),
                            type: $form.attr('method'),
                            contentType: false, // obligatoire pour de l'upload
                            processData: false, // obligatoire pour de l'upload
                            data: data,
                            dataType: 'html', // selon le retour attendu
                            success: function (data) {

                                $("#charger_fonctionnalite").html(data);

                            },
                            error: function() {
                                alert("Erreur de création du profil enseignant !")
                            }
                        });
                    }else{
                        alert("Les champs doivent être remplis !")
                    }
                });
            });
        });
</script>
<script>
        function gerer(identifiantEnseignant)
        {
            $.ajax({
                type: "GET",
                url: "/administrateur/enseignant/profil/"+identifiantEnseignant,
                dataType : 'html',
                success: function(data) {

                    $("#charger_fonctionnalite").html(data);
                },
                error: function() {
                    alert("Erreur de chargement de la page gerer enseignant !")
                }
            });
        }
</script>
<script>
        function supprimer(identifiantEnseignant, prenom, nom)
        {
            var r = confirm("Voulez-vous supprimer l'enseignant " + prenom + " " + nom +" ?");
            if (r == true) {

                $.ajax({
                    type: "GET",
                    url: "/administrateur/enseignant/supprimer/"+identifiantEnseignant,
                    dataType : 'html',
                    success: function(data) {

                        $("#charger_fonctionnalite").html(data);
                    },
                    error: function() {
                        alert("Erreur de chargement de la page gerer enseignant !")
                    }
                });

            } else {
                return false;
            }
        }
</script>
<script>
        $(document).ready(function(){
            $(function () {
                $('#modifProf').on('submit', function (e) {
                    // On empêche le navigateur de soumettre le formulaire
                    e.preventDefault();

                    var $form = $(this);
                    var formdata = (window.FormData) ? new FormData($form[0]) : null;
                    var data = (formdata !== null) ? formdata : $form.serialize();


                    if(($("#nom").val() != '') && ($("#prenom").val() != '') && ($("#email").val() != '') && ($("#status").val() != ''))
                    {
                        $.ajax({
                            url: $form.attr('action'),
                            type: $form.attr('method'),
                            contentType: false, // obligatoire pour de l'upload
                            processData: false, // obligatoire pour de l'upload
                            data: data,
                            dataType: 'html', // selon le retour attendu
                            success: function (data) {

                                $("#charger_fonctionnalite").html(data);

                            },
                            error: function() {
                                alert("Erreur de modification du profil enseignant !")
                            }
                        });
                    }else{
                        alert("Les champs doivent être remplis !")
                    }
                });
            });
        });
</script>
<script>
        $(document).ready(function(){

            $('select[name="selectionFac"]').change(function(){

                if($(this).val() != "-")
                {
                    $.ajax({
                        url: '/administrateur/affecter-cours/batiment',
                        type: "POST",
                        data: "selectionFac="+$(this).val(),
                        dataType : 'html',
                        success: function(data) {

                            $("#charger_fonctionnalite").html(data);
                        },
                        error: function() {
                            alert("Erreur de chargement de la page ! La liste des batiments est non disponible.")
                        }
                    });
                }
            });
        });
</script>
    <!-- Gere la liste déroulante : Batiment-->
<script>
        $(document).ready(function(){

            $('select[name="selectionBatiment"]').change(function(){

                    $.ajax({
                        url: '/administrateur/affecter-cours/filiere',
                        type: "POST",
                        data: "selectionBatiment="+$(this).val()+"&selectionUniversite="+$("#selectionFac").val(),
                        dataType : 'html',
                        success: function(data) {

                            $("#charger_fonctionnalite").html(data);

                        },
                        error: function() {
                            alert("Erreur de chargement de la page ! La liste des filières est non disponible.")
                        }
                    });

            });
        });
</script>
<script>
        $(document).ready(function(){

            $('select[name="selectionfiliere"]').change(function(){

                $.ajax({
                    url: '/administrateur/affecter-cours/promotion',
                    type: "POST",
                    data: "selectionfiliere="+$(this).val()+"&selectionBatiment="+$("#selectionBatiment").val()+"&selectionUniversite="+$("#selectionFac").val(),
                    dataType : 'html',
                    success: function(data) {

                        $("#charger_fonctionnalite").html(data);

                    },
                    error: function() {
                        alert("Erreur de chargement de la page ! La liste des promotions est non disponible.")
                    }
                });

            });
        });
</script>
<script>
        $(document).ready(function(){

            $('select[name="selectionpromotion"]').change(function(){

                $.ajax({
                    url: '/administrateur/affecter-cours/affichage-cours',
                    type: "POST",
                    data: "selectionpromotion="+$(this).val()+"&selectionfiliere="+$("#selectionfiliere").val()+"&selectionBatiment="+$("#selectionBatiment").val()+"&selectionUniversite="+$("#selectionUniversite").val(),
                    dataType : 'html',
                    success: function(data) {

                        $("#charger_fonctionnalite").html(data);
                        $('#affichage_cour_promotion').css("visibility", "visible");

                    },
                    error: function() {
                        alert("Erreur de chargement de la page pour afficher les cours de la promotion !.")
                    }
                });

            });
        });
</script>
<script>
       function afficherLesCours(idmatiere, idpromotion) {
            $(document).ready(function(){
                $.ajax({
                    url: '/administrateur/affecter-cours/affiche-les-cours',
                    type: "POST",
                    data: "idmatiere="+idmatiere+"&idpromotion="+idpromotion,
                    dataType : 'html',
                    success: function(data) {

                        $("#charger_fonctionnalite").html(data);
                        $('#affichage_cour_promotion').css("visibility", "visible");

                    },
                    error: function() {
                        alert("Erreur de chargement de la page pour afficher tous les cours de la promotion !.")
                    }
                });
            });
        }
</script>
<script>
        function affecterDesafferter(idcheck, idpromotion, idmatiere, idcours, idenseignant) {

            if( idcheck == "cocher"){
                $(document).ready(function(){
                    $.ajax({
                        url: '/administrateur/affecter-cours/affecter-ce-cours',
                        type: "POST",
                        data: "idcours="+idcours+"&idenseignant="+idenseignant+"&action=cocher"+"&idmatiere="+idmatiere+"&idpromotion="+idpromotion,
                        dataType : 'html',
                        success: function(data) {

                            $("#charger_fonctionnalite").html(data);
                            $('#affichage_cour_promotion').css("visibility", "visible");

                        },
                        error: function() {
                            alert("Erreur de chargement de la page !.")
                        }
                    });
                });
            }else{
                if(idcheck == "decocher"){
                    $(document).ready(function(){
                        $.ajax({
                            url: '/administrateur/affecter-cours/affecter-ce-cours',
                            type: "POST",
                            data: "idcours="+idcours+"&idenseignant="+idenseignant+"&action=decocher"+"&idmatiere="+idmatiere+"&idpromotion="+idpromotion,
                            dataType : 'html',
                            success: function(data) {

                                $("#charger_fonctionnalite").html(data);
                                $('#affichage_cour_promotion').css("visibility", "visible");

                            },
                            error: function() {
                                alert("Erreur de chargement de la page !.")
                            }
                        });
                    });
                }
            }
        }
</script>
<script>
        $(document).ready(function(){
            $(function () {
                $('#formToutCocher').on('submit', function (e) {
                    // On empêche le navigateur de soumettre le formulaire
                    e.preventDefault();

                    var $form = $(this);
                    var data = $form.serialize();

                        $.ajax({
                            url: $form.attr('action'),
                            type: $form.attr('method'),
                            data: data,
                            dataType: 'html', // selon le retour attendu
                            success: function (data) {

                                $("#charger_fonctionnalite").html(data);
                                $('#affichage_cour_promotion').css("visibility", "visible");

                            },
                            error: function() {
                                alert("Erreur chargement de la page !")
                            }
                        });
                });
            });
        });
</script>
<script>
        $(document).ready(function(){
            $(function () {
                $('#formToutRetirer').on('submit', function (e) {
                    // On empêche le navigateur de soumettre le formulaire
                    e.preventDefault();

                    var $form = $(this);
                    var data = $form.serialize();

                    $.ajax({
                        url: $form.attr('action'),
                        type: $form.attr('method'),
                        data: data,
                        dataType: 'html', // selon le retour attendu
                        success: function (data) {

                            $("#charger_fonctionnalite").html(data);
                            $('#affichage_cour_promotion').css("visibility", "visible");

                        },
                        error: function() {
                            alert("Erreur chargement de la page !")
                        }
                    });
                });
            });
        });
</script>

<!-- ./ fin partie script -->