@*******************************************
* Bloc pour gérer un profil administrateur *
********************************************@
@import controllers.administrateur.gestionDesParametres.parametresAdmin
@(titrepage: String)(etape: String)(paramAdministrateur :parametresAdmin)

<!-- Début du block dynamique - -->
<div>
    <div class="banner">
        <h1 style="margin-top: 0px;"> @titrepage </h1>

            <p>
                <i class="glyphicon glyphicon-info-sign"></i> &nbsp; <i>Sur cette page vous pouvez gérer la partie administrateur à savoir ajouter, modifier et supprimer un administrateur.</i> <br/>
            </p>
    </div>

    @if((etape == "accueil") || (etape == "supprimer-admonistrateur") || (etape == "retirer-droit")){


        <div id="centrer_ajout_admin">
            <div class="list-group">
                <li class="list-group-item list-group-item-success">Ajouter un administrateur</li>
                <div id="espace_boutton_ajout">
                    <a href="#" id="ajoutAdmin"><button type="button" class="btn btn-info-outline btn-lg btn-block">Ajouter un administrateur</button></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">

                @if(etape == "supprimer-admonistrateur"){
                    <div class="alert alert-danger" role="alert">
                        L'administrateur @paramAdministrateur.getPrenom() @paramAdministrateur.getNom() a bien été supprimer !
                    </div>
                }

                <div class="list-group">
                    <li class="list-group-item active">Les administrateurs</li>
                    <div style="height: 350px; overflow: auto;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><b>Nom</b></th>
                                    <th><b>Prénom</b></th>
                                    <th><b>Statut</b></th>
                                    <th><b>Gérer</b></th>
                                    <th><b>Supprimer</b></th>
                                </tr>
                            </thead>
                            <tbody class="searchable">
                                @for(lesAdmins <- paramAdministrateur.getLesAdmin()) {
                                <tr>
                                    <td> @lesAdmins.sonUtilisateur.nom </td>
                                    <td> @lesAdmins.sonUtilisateur.prenom  </td>
                                    <td> @lesAdmins.statut </td>
                                    <td> <button type="button" onclick="gererAdmin(@lesAdmins.id);" class="btn btn-default btn-sm">Gérer</button> </td>
                                    <td class="centrer_texte"> <a href="#" onclick="supprimerAdmin('@lesAdmins.id', '@lesAdmins.sonUtilisateur.prenom', '@lesAdmins.sonUtilisateur.nom');"><img src="@routes.Assets.versioned("images/supprimer.png")" alt="Logo Supprimer" height="30" width="30"/></a></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">

                <div class="list-group">
                    <li class="list-group-item active">Les professeurs - administrateur</li>
                    <div class="input-group">
                        <span class="input-group-addon">Filtrer</span>
                        <input id="filter" type="text" class="form-control" placeholder="Filtrer ici...">
                    </div>
                    <div style="height: 350px; overflow: auto;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><b>Nom</b></th>
                                    <th><b>Prénom</b></th>
                                    <th><b>Statut</b></th>
                                    <th><b>Retirer le droit administrateur</b></th>
                                </tr>
                            </thead>
                            <tbody class="searchable">
                            @for(lesEnseignantAdmin <- paramAdministrateur.getLesEnseingnantAdmin()) {
                                <tr>
                                    <td> @lesEnseignantAdmin.sonUtilisateur.nom </td>
                                    <td> @lesEnseignantAdmin.sonUtilisateur.prenom </td>
                                    <td> @lesEnseignantAdmin.statut </td>
                                    <td class="centrer_texte"> <a href="#" onclick="supprimerPA('@lesEnseignantAdmin.id', '@lesEnseignantAdmin.sonUtilisateur.prenom', '@lesEnseignantAdmin.sonUtilisateur.nom');"><img src="@routes.Assets.versioned("images/supprimer.png")" alt="Logo Supprimer" height="30" width="30"/></a></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

    @if(etape == "accueil-ajouter"){
        <div>
            <div class="card card-user">
                <div class="image">
                    <img src="@routes.Assets.versioned("images/admin.jpg")"  alt="Image pro"/>
                </div>
                <div class="content">
                    <div class="author">
                        <img class="avatar border-gray" src="@routes.Assets.versioned("images/recrutement.jpg")" alt="Recrutement"/>
                    </div>


                    <form id="nouveauAdmin" method="post" action="/administrateur/ajouter-administrateur/creer" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nom</label>
                                    <input type="text" id="nom" name="nom" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Prenom</label>
                                    <input type="text" id="prenom" name="prenom" class="form-control" required />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Adresse mail</label>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Email" required />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Mot de passe </label>
                                    <input type="password" class="form-control" id="mdp" name="mdp" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="datepicker10">Date de naissance</label>
                                    <input type="text" class="form-control" name="datepicker10" placeholder="Cliquer ici" id="datepicker10" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Statut </label>
                                    <input type="text" class="form-control" id="status" name="status" placeholder="Exemple: Secrétariat, CFA ..." required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Ajouter une photo (Facultatif)</label>
                                    <input type="file" class="form-control" id="photo" name="photo" />
                                </div>
                            </div><br/>
                            <div class="row">
                                <div class="form-group">
                                    <label>Est-il un référent CFA ?</label>
                                    <label class="radio-inline"><input type="radio" name="refCFA" value="OUI" />Oui</label>
                                    <label class="radio-inline"><input type="radio" name="refCFA" value="NON" checked />Non</label>
                                </div>
                            </div>

                        </div>

                        <button type="submit" class="btn btn-info btn-fill">Créer le Profil</button>
                    </form>

                </div>
                <hr>
                <div class="text-center">

                </div>
            </div>
        </div>
    }

    @if(etape == "creer-admin"){
        <div class="alert alert-success" role="alert">
            Ajout du nouveau profil avec sucess !
        </div>
        <p>
            <a href="#" id="ajoutAdmin">
                <button type="button" class="btn btn-info btn-fill">Créer un autre profil</button>
            </a>
        </p>

        <div>
            <div class="card card-user" style="margin-left:10%;margin-right: 10%;">
                <div class="image">
                    <img src="@routes.Assets.versioned("images/admin.jpg")"  alt="Image pro"/>
                </div>
                <div class="content">
                    @if((paramAdministrateur.getLienphoto() == "") || (paramAdministrateur.getLienphoto() == null)){
                        <div class="author">
                            <img class="avatar border-gray" src="@routes.Assets.versioned("images/recrutement.jpg")" alt="Recrutement"/>
                        </div>
                    }else{
                        <div class="author">
                            <img class="avatar border-gray" src="@routes.Assets.versioned(paramAdministrateur.getLienphoto())"  alt="Recrutement"/>
                        </div>
                    }

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Nom</label>
                                <input type="text" id="nom" name="nom" class="form-control" disabled value="@paramAdministrateur.getNom()" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Prenom</label>
                                <input type="text" id="prenom" name="prenom" class="form-control" disabled value="@paramAdministrateur.getPrenom()" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Adresse mail</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email" disabled value="@paramAdministrateur.getAdresseMail()" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="datepicker10">Date de naissance</label>
                                <input type="text" class="form-control"  disabled value="@paramAdministrateur.getDatenaissance()"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Statut</label>
                                <input type="text" class="form-control" disabled value="@paramAdministrateur.getStatus()" />
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="form-group">
                                <label>Est-il un référent CFA ?</label>
                                @if(paramAdministrateur.getReferantCFA == 1){
                                    Oui
                                }else{
                                    Non
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="text-center">

                </div>
            </div>
        </div>
    }

    @if((etape == "accueil-gerer") || (etape == "modifier-admin")){

        @if(etape == "modifier-admin"){
            <div class="alert alert-success" role="alert">
                Le profil de @paramAdministrateur.getPrenom() @paramAdministrateur.getNom() a été modifié avec sucess !
            </div>
        }

        <div>
            <div class="card card-user" style="margin-top: 5%;margin-left:20%;margin-right: 20%;">
                <div class="image">
                    <img src="@routes.Assets.versioned("images/bureau.jpg")"  alt="Image pro"/>
                </div>
                <div class="content">
                    @if((paramAdministrateur.getLienphoto() == "") || (paramAdministrateur.getLienphoto() == null)){
                        <div class="author">
                            <img class="avatar border-gray" src="@routes.Assets.versioned("images/recrutement.jpg")" alt="Recrutement"/>
                        </div>
                    }else{
                        <div class="author">
                            <img class="avatar border-gray" src="@routes.Assets.versioned(paramAdministrateur.getLienphoto())"  alt="Recrutement"/>
                        </div>
                    }

                    <form id="modifAdmin" method="POST" action="/administrateur/profil/modification" enctype="multipart/form-data">
                        <div style="margin-left: 10px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nom</label>
                                        <input type="text" id="nom" name="nom" class="form-control"  value="@paramAdministrateur.getNom()" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Prenom</label>
                                        <input type="text" id="prenom" name="prenom" class="form-control" value="@paramAdministrateur.getPrenom()" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Adresse mail</label>
                                        <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="@paramAdministrateur.getAdresseMail()" />
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="datepicker10">Date de naissance</label>
                                        <input type="text" class="form-control" id="datenaissance" name="datenaissance" value="@paramAdministrateur.getDatenaissance()"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Statut</label>
                                        <input type="text" class="form-control" id="statut" name="status" value="@paramAdministrateur.getStatus()" />
                                    </div>
                                </div>

                                <br><br>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Est-il un référent CFA?</label>
                                        @if(paramAdministrateur.getReferantCFA == 1){
                                            <label class="radio-inline"><input type="radio" name="refCFA" value="OUI" checked />Oui</label>
                                            <label class="radio-inline"><input type="radio" name="refCFA" value="NON"  />Non</label>
                                        }else{
                                            <label class="radio-inline"><input type="radio" name="refCFA" value="OUI" />Oui</label>
                                            <label class="radio-inline"><input type="radio" name="refCFA" value="NON" checked />Non</label>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nouveau mot de passe (Facultatif)</label>
                                        <input type="password" class="form-control" id="mdp" name="mdp"  />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Changer la photo (Facultatif)</label>
                                        <input type="file" class="form-control" id="photo" name="photo" />
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill">Modifier le profil</button>
                        </div>

                            <!-- Pour faciliter la récupération de données dans le controller -->
                        <input type="hidden" id="idadmin" name="idadmin" value="@paramAdministrateur.getProfilAdmin().id" />
                    </form>
                </div>
                <hr>
                <div class="text-center">

                </div>
            </div>
        </div>
    }

</div>
<!-- Fin du block dynamique-->

<!-- Les scripts -->
<script>
        $(function() {
            $( "#datepicker10" ).datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange:'-90:+0'
            });
        });
</script>
<script>
        $(document).ready(function(){
            $(function () {
                $('#nouveauAdmin').on('submit', function (e) {
                    // On empêche le navigateur de soumettre le formulaire
                    e.preventDefault();

                    var $form = $(this);
                    var formdata = (window.FormData) ? new FormData($form[0]) : null;
                    var data = (formdata !== null) ? formdata : $form.serialize();


                    if(($("#nom").val() != '') && ($("#prenom").val() != '') && ($("#email").val() != '') && ($("#mdp").val() != '') && ($("#status").val() != ''))
                    {
                        $.ajax({
                            url: $form.attr('action'),
                            type: $form.attr('method'),
                            contentType: false, // obligatoire pour de l'upload
                            processData: false, // obligatoire pour de l'upload
                            data: data,
                            dataType: 'html', // selon le retour attendu
                            success: function (data) {

                                $("#charger_fonctionnalite").html(data);

                            },
                            error: function() {
                                alert("Erreur de création du profil administrateur !")
                            }
                        });
                    }else{
                        alert("Les champs doivent être remplis !")
                    }
                });
            });
        });
</script>
<script>
        $(document).ready(function () {

            (function ($) {

                $('#filter').keyup(function () {

                    var rex = new RegExp($(this).val(), 'i');
                    $('.searchable tr').hide();
                    $('.searchable tr').filter(function () {
                        return rex.test($(this).text());
                    }).show();

                })

            }(jQuery));

        });
</script>
<script>
        function gererAdmin(idadmin)
        {
            $.ajax({
                type: "GET",
                url: "/administrateur/profil/"+idadmin,
                dataType : 'html',
                success: function(data) {

                    $("#charger_fonctionnalite").html(data);
                },
                error: function() {
                    alert("Erreur de chargement de la page gerer administrateur !")
                }
            });
        }
</script>
<script>
        $(document).ready(function(){
            $(function () {
                $('#modifAdmin').on('submit', function (e) {
                    // On empêche le navigateur de soumettre le formulaire
                    e.preventDefault();

                    var $form = $(this);
                    var formdata = (window.FormData) ? new FormData($form[0]) : null;
                    var data = (formdata !== null) ? formdata : $form.serialize();


                    if(($("#nom").val() != '') && ($("#prenom").val() != '') && ($("#email").val() != '') && ($("#status").val() != ''))
                    {
                        $.ajax({
                            url: $form.attr('action'),
                            type: $form.attr('method'),
                            contentType: false, // obligatoire pour de l'upload
                            processData: false, // obligatoire pour de l'upload
                            data: data,
                            dataType: 'html', // selon le retour attendu
                            success: function (data) {

                                $("#charger_fonctionnalite").html(data);

                            },
                            error: function() {
                                alert("Erreur de modification du profil administrateur !")
                            }
                        });
                    }else{
                        alert("Les champs doivent être remplis !")
                    }
                });
            });
        });
</script>
<script>
        $(document).ready(function(){
            $('#ajoutAdmin').click(function(){

                $.ajax({
                    url: '/administrateur/ajouter-administrateur',
                    type: "GET",
                    dataType : 'html',
                    success: function(data) {

                        $("#charger_fonctionnalite").html(data);

                    },
                    error: function() {
                        alert("Erreur de chargement de la page ajouter administrateur !")
                    }
                });

            });
        });
</script>
<script>
        function supprimerAdmin(idadmin, prenom, nom)
        {
            var r = confirm("Voulez-vous supprimer l'administrateur " + prenom + " " + nom + " ?");
            if (r == true) {

                $.ajax({
                    type: "GET",
                    url: "/administrateur/supprimer/"+idadmin,
                    dataType : 'html',
                    success: function(data) {

                        $("#charger_fonctionnalite").html(data);
                    },
                    error: function() {
                        alert("Erreur de chargement de la page gerer administrateur !")
                    }
                });

            } else {
                return false;
            }
        }
</script>
<script>
        function supprimerPA(idenseignant, prenom, nom)
        {
            var r = confirm("Etes-vous de vouloir retirer le droit administrateur à " + prenom + " " + nom +" ?");
            if (r == true) {

                $.ajax({
                    type: "GET",
                    url: "/administrateur/retirer-droit/"+idenseignant,
                    dataType : 'html',
                    success: function(data) {

                        $("#charger_fonctionnalite").html(data);
                    },
                    error: function() {
                        alert("Erreur de chargement de la page gerer administrateur !")
                    }
                });

            } else {
                return false;
            }
        }
</script>
<!-- Fin des scripts -->
