@(titrepage: String)

@main("E-margement - Paris X"){

<div class="wrapper">
    <div class="sidebar" data-color="gray" data-image="@routes.Assets.versioned("images/sidebar-4.jpg")">

            <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    @titrepage
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="#" data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav0" class="collapsed">
                        <i class="pe-7s-id"></i>
                        <p>Gerer les utilisateurs</p>
                    </a>
                    <div class="collapse" id="toggleDemo" style="height: 0px;margin:0; border-top: 1px solid white;"> <!-- C'est en rouge c'est normal ! -->
                            <ul class="nav nav-list">
                                <li><a href="#" id="ft5">Administrateur</a></li>
                                <li><a href="#" id="ft6"><i class="pe-7s-news-paper"></i> Gérer les enseignants</a></li>
                                <li><a href="#" id="ft7">Etudiant</a></li>
                            </ul>
                    </div>
                </li>
                <li>
                    <a href="#" id="ft1">
                        <i class="pe-7s-user"></i>
                        <p>Charger liste étudiant</p>
                    </a>
                </li>
                <li>
                    <a href="#" id="ft2">
                        <i class="pe-7s-note2"></i>
                        <p>Chargement des EDT</p>
                    </a>
                </li>
                <li>
                    <a href="#" id="ft4">
                        <i class="pe-7s-cloud-download"></i>
                        <p>Exporter les feuilles <span class="recadrer_mot">de présences</span></p>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#toggleDemo2" data-parent="#sidenav01" class="collapsed">
                    <i class="pe-7s-map-marker"></i>
                        <p>Gérer les abscences</p>
                    </a>
                    <div class="collapse" id="toggleDemo2"> <!-- C'est en rouge c'est normal ! -->
                        <div id="liens_abscences">
                            <ul class="nav nav-list">
                                <li><a href="#" id="ft8">Valider les justificatifs d'abscences</a></li>
                                <li><a href="#" id="ft9">Exporter les justificatifs d'abscences</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/administrateur/index"><i class="pe-7s-home" style="color:#9A9A9A;"> <span class="texte_gris"> Accueil </span></i></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                               Account
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Dropdown
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                Déconnexion
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Contenu principal dynamique JQuery -->
        <div class="content">
            <div class="container-fluid">

                    <div id="charger_fonctionnalite">

                    </div>

            </div>
        </div>
        <!-- Fin contenu principal -->


        <!--
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                        &copy; 2015 <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>
        -->

    </div>
</div>

}