.recadrer_mot{
    padding-left: 46px;
}

#liens_abscences {
    height: 0px;
    margin:0;
    border: 1px solid white;
}

.texte_gris {
    color: #9A9A9A;
}

.texte_font {
    color: #9A9A9A;
    font-family: "Times New Roman", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}


.paraf {
    padding-bottom: 2%;
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 2%;
}
.texte_blue{
    color: #428bca
}
 .title {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 14px;
     text-align: center;
}

#effet_bloc1 {
    height: 60px;
}

#effet_bloc2 {
    height: 60px;
}
 #effet_bloc1:hover {
    box-shadow: 1px 1px 12px #555;
}

#effet_bloc2:hover {
    box-shadow: 1px 1px 12px #555;
}

.centrer_texte {
    text-align: center;
}

#mode_extraction {
    position: relative; /* on positionne le conteneur */
    margin-top: auto;
    margin-left: auto;
    padding-bottom: 15px;
    width: 86%;
    text-align: center;
    visibility: hidden;
}

#selection_filiere_promo {
    visibility: hidden;
}

#centrer_ajout_admin {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.centrer_contenu {
    position: relative; /* on positionne le conteneur */
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 70%;
    text-align: center;
    border:1px solid darkgrey;
    border-radius : 5px 4px 3px 2px;
    margin-bottom: 50px;
}

.centrer_contenu2 {
    position: relative; /* on positionne le conteneur */
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    border:1px solid darkgrey;
    border-radius : 5px 4px 3px 2px;
    margin-bottom: 20px;
}

.rouge{
    background-color: red;
}

.rouge-texte {
    color: red;
}

.vert{
    background-color: greenyellow;
}
#reduire_espace {
    margin: 10%;
}

#espace_boutton_ajout{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 60%
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("../images/redirection.jpg") no-repeat center center;
}

.intro-message {
    position: relative;
}

.banner {
    margin-bottom: 20px;
    background: url("../images/banner.jpg") no-repeat center center;
}

#affichage_cour_promotion{
    visibility: hidden;
}

.modules {
    -moz-box-shadow:inset 2px 25px 18px -15px #bfcae6;
    -webkit-box-shadow:inset 2px 25px 18px -15px #bfcae6;
    box-shadow:inset 2px 25px 18px -15px #bfcae6;
    background-color:#f2edf2;
    -moz-border-radius:38px;
    -webkit-border-radius:38px;
    border-radius:38px;
    border:3px solid #edf0f7;
    display:inline-block;
    cursor:pointer;
    color:#8097f5;
    font-family:Trebuchet MS;
    font-size:21px;
    padding:32px 53px;
    text-decoration:none;
    text-shadow:0px -1px 2px #e8e8e8;
}
.modules:hover {
    background-color:#f2edf2;
}
.modules:active {
    position:relative;
    top:1px;
}


.myulpoad {
    -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
    background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
    background-color:#3d94f6;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #337fed;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    text-align: center;
    padding:12px 76px ;
    text-decoration:none;
    text-shadow:0px 1px 0px #1570cd;
}

.myulpoad:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
    background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
    background-color:#1e62d0;
}
.myulpoad:active {
    position:relative;
    top:1px;
}


.separator {
    border-right: 1px solid #dfdfe0;
}
.icon-btn-save {
    padding-top: 0;
    padding-bottom: 0;
}
.input-group {
    margin-bottom:10px;
}
.btn-save-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}

.myMDP {
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    background-color:#007dc1;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
    text-align: center;
}
.myMDP :hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    background-color:#0061a7;
}
.myMDP :active {
    position:relative;
    top:1px;
}
