@import models.Etudiant
@import models.Cours
@import java.text.SimpleDateFormat
@(titrepage: String)(presences: java.util.List[Presence])
@import java.util.Date; var hdebut=""; var hfin=""; var date=""; var nomMotif="";

@main("E-margement - Paris X") {
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="@routes.Assets.versioned("images/banner.jpg")">

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text">
                    @titrepage
                    </a>
                </div>

                <ul class="nav">
                    <li>
                        <a href="/etudiant/consulterAbsences" id="consul">
                            <i class="pe-7s-news-paper"></i>
                            <p>Consulter les  <span class="recadrer_mot">absences</span></p>
                        </a>
                    </li>

                    <li>
                        <a href="/etudiant/changerMDP" id="changerMDP">
                            <i class="pe-7s-news-paper"></i>
                            <p>Changer le mot de <span class="recadrer_mot"> passe</span></p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/etudiant/indexEtudiant"><i class="pe-7s-home"> <span class="texte_blue">
                            Accueil </span></i></a>
                    </div>

                    <div class="texte_blue">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i>
                                    <span class="texte_font">
                                        Bonjour,
                                        @if(session.get("prenom") != null) {
                                            @session.get("prenom")
                                        }
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="@routes.Application.logout()">
                                    <i  class="glyphicon glyphicon-off" style="color: red;"></i> <span class="texte_font"> Déconnexion </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="input-group"> <span class="input-group-addon">Filtre</span>
                <input id="filter" type="text" class="form-control" placeholder="Saisir ici...">
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Cours</th>
                        <th>Créneau</th>
                        <th>Statut</th>
                    </tr>
                </thead>
                <tbody class="searchable">
                @for(p <- presences){

                    @{
                        date = new SimpleDateFormat("dd/MM/YYYY").format(p.sonCours.heureDebut)
                        hdebut = new SimpleDateFormat("HH:mm").format(p.sonCours.heureDebut)
                        hfin = new SimpleDateFormat("HH:mm").format(p.sonCours.heureFin)

                        hdebut = hdebut.replace(":","H");
                        hfin = hfin.replace(":","H");
                    }
                    <tr>
                        <td>@date</td>
                        <td>@p.sonCours.saMatiere.getLibelle()</td>
                        <td>@hdebut - @hfin</td>
                        @if(p.justificatif==null || p.motif==null) {
                            <form method="post" action="/etudiant/justifierAbsences" >
                                <td><button type="submit" class="btn btn-default">A justifier</button></td>

                                <input type="hidden" id="idcours" name="idcours" value="@p.sonCours.id" />
                                <input type="hidden" id="idpresence" name="idpresence" value="@p.id" />
                            </form>
                        }
                        @if(p.justificatif != null && p.motif != null) {
                            @{
                                nomMotif = p.justificatif.substring(p.justificatif.lastIndexOf('/')+1);
                            }
                            <form action="/etudiant/fileDownload" name="downloadJustif">
                                <td>Justifiée : <a href="#" onclick="document.downloadJustif.submit();">@p.motif</a></td>
                                <input type="hidden" id="justificatifDownload" name="justificatifDownload" value="@p.justificatif" />
                            </form>
                        }

                    </tr>

                }
                </tbody>
            </table>


                <!-- Contenu principal dynamique JQuery -->
            <div class="content">
                <div class="container-fluid">


                </div>
            </div>
                <!-- Fin contenu principal -->
        </div>
    </div>

}