#General
*~
*.log
tmp
dump
.DS_Store

#Intellij
.cache
.idea
.idea_modules
.classpath
.project
.settings
.scala_dependencies
generated.keystore
generated.truststore
*.iml
/out

#SBT
dist
project/boot
project/target
project/project
target
.target
.history



#Play
logs
RUNNING_PID
/db

#activator
activator*
build.sbt


