@(session : play.mvc.Http.Session)

@main("E-margement - Paris X"){

    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Redirection</h1>
                        <hr class="intro-divider" style="height: 100px;padding-bottom: 50px">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                            @if(session.get("enseignant").equals("true")){
                                <button type="button" class="modules"><a href="@controllers.enseignant.routes.EnseignantController.index()"><span color="#ffffff">Accès Module Enseignant<spa></spa></a></button>
                            }
                            </li>
                            <li>
                            @if(session.get("etudiant").equals("true")){
                                <button type="button" class="modules"><a href="@controllers.etudiant.routes.EtudiantController.index()"><span color="#ffffff">Accès Module Etudiant</span></a></button>
                            }
                            </li>
                            <li>
                            @if(session.get("administrateur").equals("true")){
                                <button type="button" class="modules"><a href="@controllers.administrateur.routes.administrateurController.adminIndex()"><span color="#ffffff">Accès Module Administrateur</span></a></button>
                            }
                            </li>
                            <br><br><br><br><br><br>
                            <br><br><br><br><br><br>
                            <br><br><br><br><br><br>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="jumbotron">
        <div class="container text-center">

        </div>
    </div>
}


