@(session : play.mvc.Http.Session)

@main("E-margement - Paris X"){
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Redirection</h1>
            <p>
                @if(session.get("enseignant").equals("true")){
                    <button type="button"><a href="@controllers.enseignant.routes.EnseignantController.index()">Acces Module Enseignant</a></button>
                }
                @if(session.get("etudiant").equals("true")){
                    <button type="button"><a href="@controllers.etudiant.routes.EtudiantController.index()">Acces Module Etudiant</a></button>
                }
                @if(session.get("administrateur").equals("true")){
                    <button type="button"><a href="@controllers.administrateur.routes.administrateurController.adminIndex()">Acces Module Administrateur</a></button>
                }
            </p>
        </div>
    </div>
}


