@(message: String)

@main("E-margement - Paris X") {

    <div class="preloader" style="display: none;"><div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
        <div class="pace-progress-inner"></div>
    </div>
        <div class="pace-activity"></div></div><div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
        <div class="pace-progress-inner"></div>
    </div>
        <div class="pace-activity"></div></div><div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
        <div class="pace-progress-inner"></div>
    </div>
        <div class="pace-activity"></div></div></div>
        <!-- Parallax Header Starts -->
    <main id="top" class="masthead" role="main">
        <div class="container">
                <!-- Startup Logo -->
            <div class="logo"> <a href="/"><h1><strong style="color: #602870; font-size: 120%;">E-Margement</strong></h1>
                    <!--<img src="./index-v-signup_files/startup-template-logo.png" alt="startup-logo">--></a> </div>
                <!-- Hero Title -->
            <h1>Le système d'émargement le plus <span data-typer-targets="facile ,intuitif ">intuitif</span> que l'on puisse <strong>imaginer</strong> </h1>
                <!-- Mailchimp Subscribe form -->
            <div class="row">
                <div class="col-md-4 col-sm-12 col-md-offset-4">
                    <div class="signup-block">
                        <form class="form" role="form" method="POST" action="@routes.Application.login()">

                            <div class="form-group">

                            </div>


                            <div class="form-group">
                                <input class="form-control input-lg" name="email" type="email" placeholder="Login ou Email">
                            </div>

                            <div class="form-group">
                                <input class="form-control input-lg" name="password" type="password" placeholder="Mot de Passe">
                            </div>


                            <div class="form-group">

                            </div>

                            <div class="form-group last">
                                <button type="submit" class="btn btn-success btn-block btn-lg" style="color: white">CONNEXION</button>
                            </div>

                        </form>
                            <span id="result" class="alertMsg"> @message </span>
                    </div>

                </div>
            </div>
                <!-- // Mailchimp Subscribe form Ends -->
                <!--  Scroll to Explore -->
            <a href="#" class="scrollto">
                <p class="scrollto--arrow"><img src="@routes.Assets.versioned("accueil-css-js/images/scroll_down.png")" alt="scroll down arrow"></p>
            </a>
                <!-- // Scroll to Explore Ends -->
        </div>
    </main>
        <!-- // Parallax Header Ends -->
        <!-- Container -->

        <!-- // Container Ends -->

        <!-- Grey Highlight Section -->
    <div class="highlight testimonials">

    </div>
        <!-- // End Grey Highlight Section -->

        <!-- Container -->

        <!-- // Container Ends -->

        <!-- Parallax Footer Starts -->

        <!-- // Parallax Footer Ends -->

        <!-- Container -->
    <div class="container">
        <section class="row breath">
            <div class="col-md-12 footerlinks"> <a href="#">A propos</a>   <a href="#">Aide</a> <a href="#">Contact</a>
                <p>© 2016 MiageM2App Nanterre. Tout droits réservés</p>
            </div>
        </section>
            <!-- // End Client Logos -->

    </div>
        <!-- // Container Ends -->






}
